{% extends "Users/navigation.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
    <form action = "{% url 'Users:login' %}"  method = post>
        {% csrf_token %}
        <div style='width:45%;margin:10% 25%'>
            <label style='font-family:fantasy,margin-left:40%;font-size:x-large;font-weight:100'>Login details</label>
        <div class="form-floating mb-3">
        <input name = "Username" type="text" class="form-control" id="floatingInput" placeholder="John Doe" />
        <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
        <input type="password" name = "passw" class="form-control" id="floatingPassword" placeholder="Password" />
        <label for="floatingPassword">Password</label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
        <a href = '#'>forgot password?>
        </div>
    </form>
{% endblock content %}