.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1d7948; */
    background-color: transparent;
    color: #ec8091;
    height: 10vh;
    list-style: none;
    padding: 0 20px;
    width: 90%;
    margin-left: 5%;
}

.navbar2 li {
    margin: 0;
}

.navbar2 li a {
    text-decoration: none;
    font-size: 25px;
    color: wheat;
}

/* .navbar2 li a:hover{
    color: gray;
} */

.navbar-logo {
    flex-grow: 1;
    text-align: center;
    font-size: 1.6em;
    color:#fff;
    font-weight: 400;
    font-family: fantasy;
}

.navbar-logo::first-letter{
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
}
.navbar2 li:last-child {
    display: flex;
    align-items: center;
}

.navbar2 li:last-child a {
    display: flex;
    align-items: center;
    color: #ec8091;
}

.navbar2 li:first-child a{
    color: #ec8091;
}

/* Your existing CSS */

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dropdown-menu .dropdown-item {
    width: 100%;
    text-align: left;
}

.dropdown-menu li {
    padding: 10px;
    text-align: center;
    
}

.dropdown-menu li a {
    text-decoration: none;
    color: #ec8091;
    font-size: 20px;
    display: block;
}

.dropdown-menu li a:hover {
    color: blue;
}

.nested-dropdown-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10%;
    
}

.nested-dropdown-menu li {
    padding: 10px;
    text-align: left;
}

.nested-dropdown-menu li a {
    text-decoration: none;
    color: #ec8091;
    font-size: 20px;
    display: block;
}

.nested-dropdown-menu li a:hover {
    color: #fff;
}


.body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; /* Viewport height */
    width: 100%; /* Viewport width */
    object-fit: cover; /* Ensure the image covers the entire screen */
    z-index: -1; /* Place it behind other elements */
}

.hidden{
    display: none;
}

/* styles for the chat window */
.containerChat{
    display: flex;
    height: 100vh;
}
.contact-list{
    width: 20%;
    background-color: #fff;
    padding: 20px;
    box-shadow:2px 0 5px rgba(0, 0, 0, 0.1)
}

.chat-window{
    flex: 1;
    padding: 20px;
}

.contact{
    padding: 10px;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
}

.contact:hover{
    background-color: #556d5d;
    color: white;
}

.chat-messages{
    max-height: 70vh;
    overflow: auto;
    margin-bottom: 10px;
    box-shadow: 3px 3px grey;
    padding: 13px;
    width: 50%;
    border-radius: 10px;
    font-size: 1.2em;

}
.message-input{
    margin-top: 20px;
    display: flex;
}
.message-input input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1.1em;
}

.message-input button{
    padding: 10px;
    margin-left: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
 /* styles for the image gallery */
.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 20px;
border: 1px solid #ccc;
border-radius: 10px;
float: left;
}

.gallery-item {
flex: 0 0 calc(16.666% - 20px);
margin: 10px;
overflow: hidden;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
width: 100%;
height: auto;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
transform: scale(1.1);
}

.desc{
    text-align: center;
    padding: 15px;
}
/* E-commerce */
.product-box {
    padding: 0;
    border: 1px solid #e7eaec;
  }
  .product-box:hover,
  .product-box.active {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
    -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
    box-shadow: 0 3px 7px 0 #a8a8a8;
  }
  .product-imitation {
    flex: 0 0 calc(16.666% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .cart-product-imitation {
    text-align: center;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    background-color: #f8f8f9;
  }
  .product-imitation.xl {
    padding: 120px 0;
  }
  .product-desc {
    padding: 20px;
    position: relative;
  }
  .ecommerce .tag-list {
    padding: 0;
  }
  .ecommerce .fa-star {
    color: #d1dade;
  }
  .ecommerce .fa-star.active {
    color: #f8ac59;
  }
  .ecommerce .note-editor {
    border: 1px solid #e7eaec;
  }
  table.shoping-cart-table {
    margin-bottom: 0;
  }
  table.shoping-cart-table tr td {
    border: none;
    text-align: right;
  }
  table.shoping-cart-table tr td.desc,
  table.shoping-cart-table tr td:first-child {
    text-align: left;
  }
  table.shoping-cart-table tr td:last-child {
    width: 80px;
  }
  .product-name {
    font-size: 16px;
    font-weight: 600;
    color: #676a6c;
    display: block;
    margin: 2px 0 5px 0;
  }
  .product-name:hover,
  .product-name:focus {
    color: #1ab394;
  }
  .product-price {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1ab394;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
  }
  .product-detail .ibox-content {
    padding: 30px 30px 50px 30px;
  }
  .image-imitation {
    background-color: #f8f8f9;
    text-align: center;
    padding: 200px 0;
  }
  .product-main-price small {
    font-size: 10px;
  }
  .product-images {
    margin: 0 20px;
  }
  
  .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
  }
  .ibox.collapsed .ibox-content {
    display: none;
  }
  .ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
  }
  .ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
  }
  .ibox:after,
  .ibox:before {
    display: table;
  }
  .ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
  }
  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
  }
  .ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
  }
  
  /* new chat styles */
  .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

.ui-w-100 {
    width: 100px !important;
    height: auto;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.user-view-table td:first-child {
    width: 9rem;
}
.user-view-table td {
    padding-right: 0;
    padding-left: 0;
    border: 0;
}

.text-light {
    color: #babbbc !important;
}

.card .row-bordered>[class*=" col-"]::after {
    border-color: rgba(24,28,33,0.075);
}    

.text-xlarge {
    font-size: 170% !important;
}

.profile_h{
    font-size: x-large;
    font-weight: 180;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
}
.column1 {
    flex: 1;
    padding: 20px;
}
.left-column {
}
.right-column {
}
@media screen and (max-width: 600px) {
    .column1 {
        flex: 100%;
    }
}

